body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}
.main p{
  width: 90%;
}
.create{
  color: midnightblue;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.left>img{
  float:left;
  height: 200px;
  width: 300px;
}
.left>.card-title,.right>.card-title{
  position: relative;
  left: 50px;
  margin-top: 15px;
}
.left>.card-text,.right>.card-text{
  position: relative;
  left: 50px;
}

.left{
  display: inline;
  float: left;
  width: 50%;
}
.right>img{
  float: left;
  height: 200px;
  width: 300px;
}
.right{
  position: relative;
  left: 70px;
  display: inline;
  width: 25%;
}
@media (max-width:1356px) and (min-width:200px){
  .right{
    float:left;
  }
}
@media (min-width:481px) and (max-width:1200px){
  .logo{
    height: 20px;
  }
  h1{
    font-size: 50px;
    text-align: center;
  }
  .left,.right{
    display: block;
    width: 100%;
  }
  .left>img,.right>img{
    width: 100%;
    object-fit: cover;
  }
  .left>.card-title,.right>.card-title{
    position: relative;
    left: 0px;
    top: 10px;
    
  }
  .left>.card-text,.right>.card-text{
    position: relative;
    left: 0px;  
  }
  .main p{
    width: 100%;
  }
  .right{
    display: block;
    left:0px
  }
}